.background {
    padding: 20vh 7.5vw;
    background: linear-gradient(to bottom, #222020, #141414);
}

.background .content {
    max-width: 1280px;
    margin: 0 auto;
}

.background .content h1 {
    color: #fff;
    font-weight: 500;
    max-width: 600px;
    line-height: 45px;
}

.background .content p {
    color: rgb(194, 194, 194);
}

@media screen and (max-width: 768px) {
    .background {
        padding: 15vh 7.5vw;
    }

    .background .content h1 {
        font-size: 36px;
    }


    .background .content p {
        font-size: 20px;
        color: rgb(194, 194, 194);
    }

}