.background {
    padding: 20vh 7.5vw;
    background: linear-gradient(to bottom, #222020, #141414);
}

.background h1 {
    color: #fff;
    font-weight: 500;
    max-width: 600px;
    line-height: 45px;

}

.background p {
    color: rgb(194, 194, 194);
    margin-top: 10px;
}