.heroWrapper {
    width: auto;
    height: 60vh;
    padding: 7.5vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url("./background-image.jpg");
    background-size: cover;
}


.heroWrapper .heroContent {
    position: absolute;
    top: auto;
    bottom: auto;
    max-width: 800px;
    z-index: 2;
}

.heroWrapper .heroContent .content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 10vh 0;
}

.heroWrapper .heroContent .header {
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    overflow-wrap: break-word;
}

.heroWrapper .description {
    font-size: 24px;
    color: #fff;
    margin-right: 30px;
}

.heroWrapper .logo {
    height: 25px;
}