.testimonials {
    padding: 7.5vw;
    background-color: #f1f1f1;
}

.testimonials h1 {
    font-size: 40px;
    font-weight: 500;
    max-width: 600px;
    margin-bottom: 35px;
}

.testimonials .testimonialRow {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}