.companyList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    margin-bottom: 35px;
}