.section {
    padding: 7.5vw;
    background-color: #F1F1F2;
}

.section .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    margin-bottom: 35px;
}

.section h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
}

.section p {
    margin-top: 15px;
    font-size: 24px;
    color: #535353;
}