.dataRow {
    margin-top: 7.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.dataRow .dataChangeText {
    display: flex;
    align-items: center;
    gap: 0px;
}

.dataRow .changeText {
    margin: 0;
    color: #34A853;
    font-size: 21px;
}

.dataRow .changeArrow {
    color: #34A853;
    height: 22px;
}

.dataRow .dataText {
    color: #000;
    font-weight: 500;
    font-size: 22px;
    margin: 0;
}

.subheader {
    font-size: 18px !important;
    color: #797979 !important;
}

@media screen and (max-width: 768px) {
    .subheader {
        font-size: 16px !important;
    }

    .dataRow .dataText {
        font-size: 18px;
    }
    .dataRow .changeText {
        font-size: 18px;
    }
    .dataRow .changeArrow {
        height: 18px;
    }
}