.subheader {
    font-size: 18px !important;
    color: #797979 !important;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-start;
    margin-top: 10px;
}

.tags .tag {
    background-color: #508DE8;
    border-radius: 5px;
    padding: 10px;
}

.tags .tag p {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}