.subheader {
    font-size: 18px !important;
    color: #797979 !important;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-start;
    margin-top: 10px;
}

.tags .tag {
    background-color: #508DE8;
    border-radius: 5px;
    padding: 10px;
}

.tags .tag p {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .subheader {
        font-size: 16px !important;
    }

    .tags .tag {
        background-color: #508DE8;
        border-radius: 3px;
        padding: 5px 10px;
    }

    .tags .tag p {
        font-size: 14px;
    }


    .tags {
        margin-bottom: 20px;
    }

}