.wrapper {
    gap: 10px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.wrapper .issueReport {
    color: #000;
    font-size: 24px;
}

.wrapper .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 30px;
}

.wrapper .content .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.wrapper .content .column .dataRow {
    margin-top: 7.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.wrapper .content .column .dataRow .dataChangeText {
    display: flex;
    align-items: center;
    gap: 0px;
}

.wrapper .content .column .dataRow .changeText {
    margin: 0;
    color: #34A853;
    font-size: 21px;
}

.wrapper .content .column .dataRow .changeArrow {
    color: #34A853;
    height: 22px;
}

.wrapper .content .column .dataRow .dataText {
    color: #000;
    font-weight: 500;
    font-size: 22px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .wrapper .content {
        flex-direction: column;
    }

    .wrapper .issueReport {
        font-size: 18px;
    }
}