.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    margin-bottom: 35px;
}

h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
}

p {
    margin-top: 15px;
    font-size: 24px;
    color: #535353;
}

.demo {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.demo>div {
    flex: 1;
}

@media screen and (max-width: 768px) {
    .demo {
        flex-direction: column;
    }
}